.post {
  margin: 10px !important;
}

.user-img {
  width: 100px;
  height: 100px;
  clip-path: circle(34%);
}

.post-details > img {
  width: 100%;
  margin-bottom: 10px;
}

.m-btm {
  margin-bottom: 5px !important;
}

.hashtag {
  color: #429be8;
}

.like-post {
  margin-right: 10px;
  cursor: pointer;
}

.comment-container {
  margin-top: 40px;
}
