.profile-container {
  /* padding: 10px 20%; */
}

.profile-header {
  padding: 10px 20%;
  display: flex;
  align-items: center;
}

.profile-avatar > img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 40px;
}

.profile-username {
  font-size: 24px;
  font-weight: 500;
}

.profile-information {
  margin-top: 10px;
}
.profile-information > span {
  margin-right: 100px;
  font-size: 15px;
  font-weight: 500;
}

.profile-fullname {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 500;
}

.profile-fullname > button {
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
.profile-body {
    padding: 10px 10%;
}

.grid-list>.MuiGridListTile-root {
    width: 33% !important;
    height: 380px !important;
    cursor: pointer;
}